<!-- <simple-nft-contract></simple-nft-contract> -->


<div style="margin-top:10px;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;">
    <div style="margin:15px;position: relative;text-align: center; width: 250px; height: 200px;border: 2px solid orange; padding: 10px;">
        <span style="padding: 2px 5px;font-size: 10px;position: absolute; left: 10px;">#1 view</span>
        <span style="border: 1px solid green;border-radius: 40%;padding: 2px 5px;font-size: 8px; position: absolute; right: 10px;">connect</span>

        <h3>Landing Page</h3>
        <span>App presentation</span>
    </div>
    <div style="margin:15px;position: relative;text-align: center; width: 250px; height: 200px;border: 2px solid green; padding: 10px;">
        <span style="padding: 2px 5px;font-size: 10px;position: absolute; left: 10px;">#2 view</span>
   
        <h3>User Dashboard</h3>
        <span>Incoming & Outcoming streamings</span>
    </div>
    <div style="margin:15px;position: relative;text-align: center; width: 250px; height: 200px;border: 2px solid green; padding: 10px;">
        <span style="padding: 2px 5px;font-size: 10px;position: absolute; left: 10px;">#3 view</span>
        <h3>Create Stream Config and recipients </h3>
        <p style="display:block;margin:auto;width:fit-content;border: 1px solid green;border-radius: 40%;padding: 2px 5px;font-size: 8px;">Create stream</p>
        <span>Maybe split in two screens</span>
        <p style="display:block;margin:10px auto;width:fit-content;border: 1px solid green;border-radius: 40%;padding: 2px 5px;font-size: 8px;">add Recipient</p>

    </div>
    <div style="margin:15px;position: relative;text-align: center; width: 250px; height: 200px;border: 2px solid orange; padding: 10px;">
        <span style="padding: 2px 5px;font-size: 10px;position: absolute; left: 10px;">#4 view</span>
        <span style="border: 1px solid green;border-radius: 40%;padding: 2px 5px;font-size: 8px; position: absolute; right: 10px;">connect</span>
        <h3>User Deep Link </h3>
        <span>Landing page for sms "you have a stream"</span>
    </div>
</div>